body{color:#1c77b8;font-size:20;background-color:#d5e0e0;}a, a:link, a:active, a:visited{color:#0905f7;}a:hover{color:#ff002b;font-weight:bold;}#header{background-color:#55b1f2;#container {
width: 978px;
margin: 0 auto;
background-color: #fff;}.panel, .well, .nv-block-banners{background-color:#f2e679;border-color:#3802fa;border-style:solid;}